version: '3'

services:
  drand:
    image: angelocapossele/drand:develop
    volumes:
      - ./data:/root/.drand
    ports:
      - "0.0.0.0:1234:8000"
      - "0.0.0.0:1235:8081"
    environment:
      - GOSHIMMERAPI=http://127.0.0.1:8080
      - DRAND_PUBLIC_ADDRESS=172.0.0.1:1234
    entrypoint: /usr/local/bin/entrypoint.sh
    command: start --verbose --private-listen 0.0.0.0:8000 --public-listen 0.0.0.0:8081 --tls-disable --goshimmerAPIurl "http://127.0.0.1:8080"
    restart: unless-stopped
