version: '3'

services:
  entry_node:
    container_name: entry_node
    image: angelocapossele/goshimmer:drng
    command: >
      --autopeering.seed=base58:8kPPCqaJFAt8BJtx6qw5PN8bKEM2XKXor6PxkmHf6bcr
      --autopeering.entryNodes=
      --analysis.dashboard.dev=false
      --metrics.local=false
      --prometheus.processMetrics=false
      --node.disablePlugins=portcheck,dashboard,analysis-client,gossip,drng,issuer,syncbeaconfollower,messagelayer,pow,valuetransfers,webapi,webapibroadcastdataendpoint,webapifindtransactionhashesendpoint,webapigetneighborsendpoint,webapigettransactionobjectsbyhashendpoint,webapigettransactiontrytesbyhashendpoint
    volumes:
      - ./config.docker.json:/tmp/config.json:ro
    expose:
      - "1888/tcp" # analysis server (within Docker network)
    networks: 
      - drandnetwork

  peer_master:
    container_name: peer_master
    image: angelocapossele/goshimmer:drng
    command: >
      --config-dir=/tmp
      --database.directory=/tmp/mainnetdb
      --autopeering.seed=base58:8q491c3YWjbPwLmF2WD95YmCgh61j2kenCKHfGfByoWi
      --node.enablePlugins=spammer,faucet,syncbeacon
      --node.disablePlugins=syncbeaconfollower
      --faucet.seed=7R1itJx5hVuo9w9hjg5cwKFmek4HMSoBDgJZN8hKGxih
      --valueLayer.snapshot.file=/tmp/assets/7R1itJx5hVuo9w9hjg5cwKFmek4HMSoBDgJZN8hKGxih.bin
      --syncbeacon.broadcastInterval=5
      --syncbeacon.startSynced=true
      --drng.distributedPubKey=${DISTRIBUTED_PUB_KEY}
    volumes:
      - ./config.json:/tmp/config.json:ro
      - ./data/assets:/tmp/assets
    ports:
      - "0.0.0.0:8080:8080/tcp" # web API
      - "127.0.0.1:8081:8081/tcp" # dashboard
    networks: 
      - drandnetwork
    depends_on:
      - entry_node

  drand-client-1:
    container_name: drand1
    image: angelocapossele/drand:develop
    entrypoint: /data/client-script.sh
    networks: 
      - drandnetwork
    ports:
      - "8000:8000/tcp"
      - "8800:8081/tcp"
    environment:
      LEADER: 1
      GOSHIMMER: "http://peer_master:8080"
  drand-client-2:
    container_name: drand2
    image: angelocapossele/drand:develop
    entrypoint: /data/client-script.sh
    networks: 
      - drandnetwork
    ports:
      - "8001:8000/tcp"
      - "8801:8081/tcp"
    environment:
      GOSHIMMER: "http://peer_master:8080"
  drand-client-3:
    container_name: drand3
    image: angelocapossele/drand:develop
    entrypoint: /data/client-script.sh
    networks: 
      - drandnetwork
    ports:
      - "8002:8000/tcp"
      - "8802:8081/tcp"
    environment:
      GOSHIMMER: "http://peer_master:8080"
  drand-client-4:
    container_name: drand4
    image: angelocapossele/drand:develop
    entrypoint: /data/client-script.sh
    networks: 
      - drandnetwork
    ports:
      - "8003:8000/tcp"
      - "8803:8081/tcp"
    environment:
      GOSHIMMER: "http://peer_master:8080"
  drand-client-5:
    container_name: drand5
    image: angelocapossele/drand:develop
    entrypoint: /data/client-script.sh
    networks: 
      - drandnetwork
    ports:
      - "8004:8000/tcp"
      - "8804:8081/tcp"
    environment:
      GOSHIMMER: "http://peer_master:8080"

networks:
  drandnetwork:
    ipam:
      driver: default
      config:
          - subnet: 172.16.222.0/24
